{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/54a82f934c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="{% static 'js/scripts.js' %}" defer></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="-fluid">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/" style="font-family:Arial, Helvetica, sans-serif ;">TO DO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}<!--se o usuário estiver logado(autenticado) mostra, igual era no Nodejs-->
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Tarefas</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/admin">Administração</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/logout">Sair</a> <!--Configurado nas settings do projeto principal-->
                        </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link active" href="/accounts/login">Login</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="/accounts/register">Registrar</a>
                            </li> -->
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
        <footer>
            <p>Lista de tarefas TO DO</p> 
        </footer>
    </div>
    
</body>
</html>